{% extends "../base.html" %}
{% block content %}
    {% load static %}
    <div id="contentAreas" class="cd-section">


        <div id="tables">
            <div class="row">
                <div class="col-md-12">
                    <h4>Simple Table</h4>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <h4>
                        <small>Simple With Actions</small>
                    </h4>
                <div><a class="btn btn-danger" href="{% url 'home:add_new_location' %}">Add new location</a></div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>City</th>
                                <th>Country</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for x in all_locations %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ x.city }}</td>
                                <td>{{ x.country }}</td>
                                <td class="td-actions text-right">
                                    <a rel="tooltip" class="btn btn-info" data-original-title="" href="{% url 'home:read' x.id %}"
                                            title="view">
                                        <i class="material-icons">person</i>
                                    </a>
                                    <a rel="tooltip" class="btn btn-success" data-original-title=""
                                            title="Edit">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a rel="tooltip" class="btn btn-danger" data-original-title=""
                                            title="Delete">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <!--                 end comments                 -->
        </div>
{% endblock %}