{% extends "../base.html" %}

{% block content %}
    <div style="padding: 100px">
    <form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="exampleInputEmail1">{{ field.label }}</label>
          {{ field }}
        <span class="text-danger">{{ field.errors }}</span>
        </div>

        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
{% endblock %}