{% extends "../base.html" %}

{% block content %}
    <div class="page-header header-filter" filter-color="purple"
         style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div class="card card-signup">
                        <h2 class="card-title text-center">Hi {{ request.user|title }}</h2>
                        <div class="row">

                            <div class="col-md-5">


                                <form class="form" method="" action="">
                                    {% for field in form %}
                                        <div class="card-content">
                                            <div class="input-group">
                                                <span>{{ field.label }}</span>
                                                <input type="text" class="form-control" placeholder="First Name..." readonly
                                                       value="{{ field.value }}">
                                            </div>

                                        </div>
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    , made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com"
                                                                        target="_blank">Creative Tim</a>
                </div>
            </div>
        </footer>

    </div>
{% endblock %}