{% extends "../base.html" %}


{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}

    <div> {{ form.as_p }}</div>

  <button class="button" type="submit">Login</button>
</form>
{% endblock %}